/*==
 * Nuxt.js & TailwindCSS Portfolio Main CSS File
 * Powered by: @realstoman
*/

/* Fonts */
@font-face {
  font-family: "GeneralSans-Variable";
  src:
    url("./fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("./fonts/GeneralSans-Variable.woff") format("woff"),
    url("./fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.font-general-variable {
  font-family: "GeneralSans-Variable";
}

@font-face {
  font-family: "GeneralSans-VariableItalic";
  src:
    url("./fonts/GeneralSans-VariableItalic.woff2") format("woff2"),
    url("./fonts/GeneralSans-VariableItalic.woff") format("woff"),
    url("./fonts/GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

.font-general-variable-italic {
  font-family: "GeneralSans-VariableItalic";
}

@font-face {
  font-family: "GeneralSans-Extralight";
  src:
    url("./fonts/GeneralSans-Extralight.woff2") format("woff2"),
    url("./fonts/GeneralSans-Extralight.woff") format("woff"),
    url("./fonts/GeneralSans-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

.font-general-extralight {
  font-family: "GeneralSans-Extralight";
}

@font-face {
  font-family: "GeneralSans-ExtralightItalic";
  src:
    url("./fonts/GeneralSans-ExtralightItalic.woff2") format("woff2"),
    url("./fonts/GeneralSans-ExtralightItalic.woff") format("woff"),
    url("./fonts/GeneralSans-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

.font-general-extralight-italic {
  font-family: "GeneralSans-ExtralightItalic";
}

@font-face {
  font-family: "GeneralSans-Light";
  src:
    url("./fonts/GeneralSans-Light.woff2") format("woff2"),
    url("./fonts/GeneralSans-Light.woff") format("woff"),
    url("./fonts/GeneralSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.font-general-light {
  font-family: "GeneralSans-Light";
}

@font-face {
  font-family: "GeneralSans-LightItalic";
  src:
    url("./fonts/GeneralSans-LightItalic.woff2") format("woff2"),
    url("./fonts/GeneralSans-LightItalic.woff") format("woff"),
    url("./fonts/GeneralSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

.font-general-light-italic {
  font-family: "GeneralSans-LightItalic";
}

@font-face {
  font-family: "GeneralSans-Regular";
  src:
    url("./fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("./fonts/GeneralSans-Regular.woff") format("woff"),
    url("./fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-general-regular {
  font-family: "GeneralSans-Regular";
}

@font-face {
  font-family: "GeneralSans-Italic";
  src:
    url("./fonts/GeneralSans-Italic.woff2") format("woff2"),
    url("./fonts/GeneralSans-Italic.woff") format("woff"),
    url("./fonts/GeneralSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

.font-general-italic {
  font-family: "GeneralSans-Italic";
}

@font-face {
  font-family: "GeneralSans-Medium";
  src:
    url("./fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("./fonts/GeneralSans-Medium.woff") format("woff"),
    url("./fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.font-general-medium {
  font-family: "GeneralSans-Medium";
}

@font-face {
  font-family: "GeneralSans-MediumItalic";
  src:
    url("./fonts/GeneralSans-MediumItalic.woff2") format("woff2"),
    url("./fonts/GeneralSans-MediumItalic.woff") format("woff"),
    url("./fonts/GeneralSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

.font-general-medium-italic {
  font-family: "GeneralSans-MediumItalic";
}

@font-face {
  font-family: "GeneralSans-Semibold";
  src:
    url("./fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("./fonts/GeneralSans-Semibold.woff") format("woff"),
    url("./fonts/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

.font-general-semibold {
  font-family: "GeneralSans-Semibold";
}

@font-face {
  font-family: "GeneralSans-SemiboldItalic";
  src:
    url("./fonts/GeneralSans-SemiboldItalic.woff2") format("woff2"),
    url("./fonts/GeneralSans-SemiboldItalic.woff") format("woff"),
    url("./fonts/GeneralSans-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

.font-general-semibold-italic {
  font-family: "GeneralSans-SemiboldItalic";
}

@font-face {
  font-family: "GeneralSans-Bold";
  src:
    url("./fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("./fonts/GeneralSans-Bold.woff") format("woff"),
    url("./fonts/GeneralSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.font-general-bold {
  font-family: "GeneralSans-Bold";
}

@font-face {
  font-family: "GeneralSans-BoldItalic";
  src:
    url("./fonts/GeneralSans-BoldItalic.woff2") format("woff2"),
    url("./fonts/GeneralSans-BoldItalic.woff") format("woff"),
    url("./fonts/GeneralSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

.font-general-bold-italic {
  font-family: "GeneralSans-BoldItalic";
}

.wrapper-expand {
  display: inline-flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.center:hover .expand-space:after {
  content: "\00a0 ";
}

.expand {
  display: inline-flex;
  overflow: hidden;
  letter-spacing: -3em;
  transition: letter-spacing 1s;
}

.center:hover .expand {
  letter-spacing: normal;
}

.center:hover .l-expand {
  transition-delay: 0s;
}

.center:hover .fx-expand {
  transition-delay: 0.5s;
}

.center:hover .a-expand {
  transition-delay: 1s;
}

:root {
  --white: 255, 255, 255;
  --header-height: 56px;
  --base: #090909;
  --base-inverted: rgb(var(--white));
  --base-100: var(--base);
  --grey-50: 250, 250, 250;
  --grey-100: 245, 245, 245;
  --grey-200: 229, 229, 229;
  --grey-300: 212, 212, 212;
  --grey-400: 163, 163, 163;
  --grey-500: 115, 115, 115;
  --grey-600: 82, 82, 82;
  --grey-700: 64, 64, 64;
  --grey-800: 38, 38, 38;
  --grey-900: 23, 23, 23;
  --base-90: #242424;
  --base-80: #3d3d3d;
  --base-70: #575757;
  --base-60: #717171;
  --base-50: #8a8a8a;
  --base-40: #a3a3a3;
  --base-30: #bdbdbd;
  --base-20: #d6d6d7;
  --base-10: #efefef;
  --base-0: #f9f9f9;
  --su-05: 0.125rem;
  --su-1: 0.25rem;
  --su-2: 0.5rem;
  --su-3: 0.75rem;
  --su-4: 1rem;
  --su-5: 1.25rem;
  --su-6: 1.5rem;
  --su-7: 2rem;
  --su-8: 3rem;
  --su-9: 4rem;
  --su-10: 8rem;
  --radius: 0.375rem;
  --radius-large: 0.75rem;
  --radius-xl: 2rem;
  --radius-auto: Max(0px, Min(var(--radius), calc((100vw - 4px - 100%) * 9999))) / var(--radius);
  --radius-xl: 2rem;
  --fs-base: 1rem;
  --fs-l: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --body-color: rgb(var(--grey-900));
  --content-font-size: var(--fs-l);
  --content-secondary-font-size: var(--fs-base);
  --content-tertiary-font-size: var(--fs-base);
  --content-rhythm: var(--content-font-size);
  --syntax-background-color: #08090a;
  --syntax-text-color: #f8f8f2;
  --syntax-comment-color: #808080;
  --syntax-declaration-color: #f39c12;
  --syntax-literal-color: #dda0dd;
  --syntax-error-color: #f9690e;
  --syntax-name-color: #7ed07e;
  --syntax-string-color: #f2ca27;
  --indigo-50: 238, 242, 255;
  --indigo-100: 224, 231, 255;
  --indigo-200: 199, 210, 254;
  --indigo-300: 165, 180, 252;
  --indigo-400: 129, 140, 248;
  --indigo-500: 99, 102, 241;
  --indigo-600: 79, 70, 229;
  --indigo-700: 67, 56, 202;
  --indigo-800: 55, 48, 163;
  --indigo-900: 49, 46, 129;
  --accent-brand-lighter-rgb: var(--indigo-100);
  --accent-brand-rgb: var(--indigo-400);
  --accent-brand-darker-rgb: var(--indigo-400);
  --accent-brand: rgb(var(--accent-brand-rgb));
  --accent-brand-darker: rgb(var(--accent-brand-darker-rgb));
  --link-branded-color: var(--accent-brand);
  --link-branded-color-hover: var(--accent-brand-darker);
  --form-bg: rgb(var(--white));
  --form-bg-focus: rgb(var(--white));
  --form-border: rgb(var(--grey-300));
  --form-border-hover: rgb(var(--grey-400));
  --form-border-focus: var(--focus);
  --card-bg: rgb(var(--white));
  --shadow-smooth: 0px 8px 16px rgba(0, 0, 0, 0.07);
  --shadow-smooth-white: 0px 8px 16px rgba(255, 255, 255, 0.21);
  --z-elevate: 1;
  --button-secondary-bg: var(--base-20);
  --button-secondary-bg-hover: var(--base-30);
  --button-secondary-color: var(--base-80);
  --button-secondary-color-hover: var(--base-100);
}

html.dark .ltag__link {
  box-shadow: var(--shadow-smooth-white);
}

html.dark .ltag-github-readme-tag {
  box-shadow: var(--shadow-smooth-white);
}


.blog-post> {
  blockquote>p>a {
    text-decoration: underline;
    color: var(--link-branded-color);
  }

  h2,
  h3 {
    font-weight: bold;
  }

  hr {
    width: 25%;
    opacity: 0.1;
    border-radius: var(--radius);
    border: 1px solid var(--body-color);
    margin: calc(var(--content-rhythm) * 2) auto;
  }

  ul,
  ol {
    padding-left: var(--su-6);
    margin: 0 0 var(--content-rhythm) 0
  }

  ul br,
  ol br {
    line-height: 0;
    margin: 0;
    padding: 0
  }

  ul {
    list-style-type: disc
  }

  ul p {
    margin: 0;
    padding: 0
  }

  ul ul {
    margin: 0 0 0 var(--content-rhythm);
    list-style-type: square
  }

  ul ul ul {
    list-style-type: circle
  }


  ol>li>p {
    margin: 0 0 var(--content-rhythm) 0;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1em;
  }

  ol>li>p>strong>a {
    text-decoration: underline;
    color: var(--link-branded-color);
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  blockquote {
    border-left: 4px solid var(--base-20);
    padding: 0 0 0 var(--content-rhythm);
    margin: 0 0 var(--content-rhythm) 0;
  }

  pre:not(.highlight),
  div.highlight,
  div:not(.highlight)>pre.highlight,
  li pre.highlight,
  blockquote pre.highlight {
    background: var(--syntax-background-color);
    color: var(--syntax-text-color);
    font-size: 80%;
    border-radius: var(--radius);
    margin: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-wrap: initial;
    padding: var(--su-2);

    @media (min-width: 768px) {
      padding: var(--su-6);
    }
  }

  pre:not(.highlight) code,
  div.highlight code,
  div:not(.highlight)>pre.highlight code,
  li pre.highlight code,
  blockquote pre.highlight code {
    font-size: 100%;
    padding: 0;
  }

  div.highlight {
    position: block;

    .highlight {
      overflow: auto;
    }

    .highlight__panel {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      visibility: hidden;

      &:hover {
        visibility: visible;
      }

      &-action {
        display: flex;
        padding: var(--su-2);
        overflow: hidden;
        background: var(--base-60);
        border-bottom-left-radius: var(--radius);
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }

        &+& {
          margin-left: 1px;
          border-bottom-left-radius: 0;
        }

        &-fullscreen-on {
          display: block;
        }
      }
    }
  }

  .fullscreen-code {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-modal);
    width: 100%;
    height: 100vh;
    background: var(--syntax-background-color);
    color: var(--syntax-text-color);
    overflow: auto;
    visibility: hidden;
    transform: scale(0.01);
    transition:
      transform var(--transition-props),
      visibility var(--transition-props);

    div.highlight {
      height: 100%;
      box-sizing: border-box;
    }

    .highlight__panel {
      position: fixed;
    }

    .highlight-action--fullscreen-on {
      display: none;
    }

    .highlight-action--fullscreen-off {
      display: block;
    }

    &.is-open {
      visibility: visible;
      transform: scale(1);
    }
  }

  code {
    background: rgba(0, 0, 0, 0.1);
    color: var(--color-body-color);
    border-radius: var(--radius);
    max-width: 100%;
    font-size: 80%;
    padding: 0.1em 0.25em;
  }

  p>code {
    background: var(--code-inline-bg);
  }

  .highlight {
    background: var(--syntax-background-color);
    color: var(--syntax-text-color);

    .hll {
      background-color: #49483e;
    }

    .c {
      color: var(--syntax-comment-color);
    }

    .err {
      text-shadow: 0 0 7px var(--syntax-error-color);
    }

    .k {
      color: var(--syntax-declaration-color);
    }

    .l {
      color: var(--syntax-literal-color);
    }

    .n {
      color: var(--syntax-text-color);
    }

    .o {
      color: var(--syntax-error-color);
    }

    .p {
      color: var(--syntax-text-color);
    }

    .ch,
    .cm,
    .cp,
    .cpf,
    .c1,
    .cs {
      color: var(--syntax-comment-color);
    }

    .gd {
      color: var(--syntax-error-color);
    }

    .ge {
      font-style: italic;
    }

    .gi,
    .nc,
    .no,
    .nd,
    .ne,
    .nf,
    .nx,
    .py,
    .nv,
    .w,
    .vc,
    .vg,
    .vi,
    .vm,
    .il {
      color: var(--syntax-name-color);
    }

    .kc,
    .kd,
    .kp,
    .kr,
    .kt {
      color: var(--syntax-declaration-color);
    }

    .kn {
      color: var(--syntax-error-color);
    }

    .ld {
      color: var(--syntax-string-color);
    }

    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .mo {
      color: var(--syntax-literal-color);
    }

    .s,
    .na,
    .nl,
    .nn {
      color: var(--syntax-text-color);
    }

    .nt,
    .ow {
      color: var(--syntax-error-color);
    }

    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .sh,
    .si,
    .sx,
    .sr,
    .s1,
    .ss {
      color: var(--syntax-string-color);
    }
  }

  .crayons-btn[href]:hover,
  .ltag__wikipedia--container .ltag__wikipedia--btn[href]:hover,
  .gh-btn-container .gh-btn[href]:hover,
  .ltag__reddit--container .ltag__reddit--btn[href]:hover,
  .ltag__stackexchange--container .ltag__stackexchange--btn[href]:hover,
  .crayons-btn[href]:focus,
  .ltag__wikipedia--container .ltag__wikipedia--btn[href]:focus,
  .gh-btn-container .gh-btn[href]:focus,
  .ltag__reddit--container .ltag__reddit--btn[href]:focus,
  .ltag__stackexchange--container .ltag__stackexchange--btn[href]:focus,
  .crayons-btn:hover:enabled,
  .ltag__wikipedia--container .ltag__wikipedia--btn:hover:enabled,
  .gh-btn-container .gh-btn:hover:enabled,
  .ltag__reddit--container .ltag__reddit--btn:hover:enabled,
  .ltag__stackexchange--container .ltag__stackexchange--btn:hover:enabled,
  .crayons-btn:active:enabled,
  .ltag__wikipedia--container .ltag__wikipedia--btn:active:enabled,
  .gh-btn-container .gh-btn:active:enabled,
  .ltag__reddit--container .ltag__reddit--btn:active:enabled,
  .ltag__stackexchange--container .ltag__stackexchange--btn:active:enabled {
    background-color: var(--bg-hover);
    border-color: var(--border-hover);
    box-shadow: var(--shadow-hover);
    color: var(--color-hover);
    z-index: var(--z-elevate)
  }


  .ltag__link__link {
    color: var(--body-color) !important
  }

  .ltag__link__link:active {
    opacity: 0.7
  }

  .ltag__link {
    font-family: var(--ff-sans-serif);
    border: 1px solid var(--form-border);
    box-shadow: var(--shadow-smooth);
    border-radius: var(--radius-auto);
    display: block;
    margin: 0.95em 0 1.2em;
    max-width: 100%
  }

  .ltag-github-readme-tag {
    position: relative;
    border: 1px solid var(--form-border);
    box-shadow: var(--shadow-smooth);
    border-radius: var(--radius-auto);
    margin: 1.1em auto 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    overflow: hidden
  }

  .ltag-github-readme-tag a {
    color: var(--link-branded-color) !important
  }

  .ltag-github-readme-tag .readme-overview {
    padding: 0.8em calc(0.5em + 0.25vw);
    border-bottom: 1px solid #dbdbdb
  }

  .ltag-github-readme-tag .readme-overview h2 {
    font-weight: 400 !important;
    font-size: 1.2em !important;
    line-height: 1.3em !important;
    margin: 0em 0px 0.5em !important
  }

  .ltag-github-readme-tag .readme-overview h2 img {
    width: 1.15em !important;
    max-width: 1.1em !important;
    display: inline-block;
    left: 0px;
    margin: 0;
    vertical-align: -0.18em;
    filter: invert(0);
    filter: var(--theme-social-icon-invert, invert(0))
  }

  .ltag-github-readme-tag .readme-overview h3 {
    font-weight: 400 !important;
    margin: 0;
    margin-left: 0.15em;
    font-size: 0.75em !important;
    line-height: 1.05em !important
  }

  .ltag-github-readme-tag .ltag-github-body {
    font-size: 0.72em;
    line-height: 1.12em;
    text-align: left;
    min-height: 100px
  }

  .ltag-github-readme-tag .gh-btn-container {
    padding: 0.1em 0 1.15em
  }

  .ltag-github-readme-tag .gh-btn {
    padding: 0.28em 1.2em;
    font-size: 0.75em
  }

  .ltag-github-readme-tag .markdown-body {
    padding: 0em calc(0.5em + 0.2vw)
  }

  .ltag-github-readme-tag .markdown-body table {
    max-width: 80%;
    margin-left: 10%
  }

  .ltag-github-readme-tag .markdown-body img {
    display: inline-block;
    left: 0px
  }

  .ltag-github-readme-tag .markdown-body .highlight {
    background: white;
    color: black;
  }

  .ltag-github-readme-tag .markdown-body pre {
    max-width: 100%;
    margin-left: 10%
  }

  .ltag-github-readme-tag .markdown-body .anchor {
    display: none
  }

  .gh-btn-container {
    text-align: center;
    padding: 0.35em 0 1.35em;
    box-shadow: 0 0 60px 42px var(--card-bg);
    position: relative;
    z-index: var(--z-elevate)
  }

  .ltag__link .ltag__link__user__pic img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin: 0
  }

  .ltag__link .ltag__link__content {
    display: inline-block;
    vertical-align: top;
    padding: calc(0.7vw + 6px);
    padding-left: 0;
    width: calc(100% - 2.5vw - 70px)
  }

  .ltag__link .ltag__link__content h2 {
    margin: 0;
    padding: 0;
    font-weight: var(--fw-bold);
    font-size: calc(1.45em + 0.2vw);
    line-height: var(--lh-tight)
  }

  .ltag__link .ltag__link__content h3 {
    margin: calc(0.3vw + 1px) 0;
    padding: 0;
    font-size: var(--fs-s);
    font-weight: var(--fw-medium);
    color: var(--color);
    color: var(--card-color-tertiary)
  }

  .ltag__link .ltag__link__content h3 a {
    color: var(--card-color-tertiary)
  }

  .ltag__link .ltag__link__content .missing {
    padding: 0 10px !important
  }

  .ltag__link .ltag__link__content .ltag__link__taglist {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.88em;
    margin-bottom: 5px;
    color: var(--tag-color)
  }

  .ltag__link .ltag__link__content .ltag__link__tag {
    margin-right: calc(0.02vw + 4px);
    font-size: 0.9em;
    margin-left: 1px
  }

  .ltag__link .ltag__link__content .ltag__link__servicename {
    color: var(--card-color-tertiary);
    font-size: 0.7em
  }

  .ltag__link .ltag__link__content .ltag__link__servicename img {
    vertical-align: -5px;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    margin-left: 2px
  }

  .ltag__link__link {
    color: var(--body-color) !important
  }

  .ltag__link__link:active {
    opacity: 0.7
  }

  .ltag__link .video-image {
    position: relative;
    padding-top: 56%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #0a0a0a no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block
  }

  .ltag__link .video-timestamp {
    position: absolute;
    font-size: 12px;
    bottom: 6px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 0px 5px 0px;
    font-weight: 500;
    border-radius: 3px;
    display: block;
    line-height: 20px
  }

  .ltag__link .video-timestamp img {
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: -2px;
    padding-left: 5px
  }

  .ltag__link .ltag__link__pic {
    display: inline-block;
    padding: calc(0.6vw + 8px) calc(0.8vw + 8px);
    padding-right: 8px;
    box-sizing: border-box;
    border-radius: var(--radius)
  }

  .ltag__link .ltag__link__pic img {
    width: calc(1.2vw + 40px);
    height: calc(1.2vw + 40px);
    margin: auto auto !important;
    border-radius: 150px;
    box-sizing: border-box;
    max-width: 60px;
    max-height: 60px
  }

  .ltag__link .ltag__link__org__pic {
    border-radius: var(--radius);
    position: relative;
    display: inline-block;
    padding: calc(0.4vw + 8px) calc(0.8vw + 8px);
    padding-right: 10px;
    box-sizing: border-box
  }

  .ltag__link .ltag__link__org__pic::after {
    content: '';
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: var(--radius);
    pointer-events: none;
    box-sizing: border-box
  }

  .ltag__link .ltag__link__org__pic>img {
    display: inline-block;
    width: calc(2.2vw + 45px);
    height: calc(2.5vw + 40px);
    margin: auto auto !important;
    border-radius: var(--radius);
    box-sizing: border-box;
    max-width: 55px;
    max-height: 55px
  }

  .ltag__link .ltag__link__user__pic {
    display: inline-block;
    position: absolute;
    right: 3px;
    bottom: calc(1vw);
    border: 2px solid var(--base-inverted);
    border-radius: 100%;
    background-color: var(--card-color-tertiary);
    box-sizing: border-box;
    width: calc(2vw + 28px);
    height: calc(2vw + 28px);
    max-width: 38px;
    max-height: 38px
  }

  body.default-header .crayons-article .crayons-article__body [id] {
    scroll-margin-top: var(--header-height)
  }

  .ltag-github-readme-tag> :not(.readme-overview) {
    display: none;
  }

  .ltag-github-body {
    padding: 1em 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    max-height: calc(21vw + 165px);
    overflow: hidden
  }

  @media screen and (min-width: 430px) {
    .ltag-github-body {
      max-height: calc(20vw + 153px)
    }
  }

  @media screen and (min-width: 800px) {
    .ltag-github-body {
      max-height: 310px
    }
  }

  .ltag-github-body h1,
  .ltag-github-body h2,
  .ltag-github-body h3,
  .ltag-github-body h4,
  .ltag-github-body h5,
  .ltag-github-body h6 {
    font-weight: 500 !important
  }

  .ltag-github-body h1 {
    margin-left: 0;
    font-size: 1.9em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    margin-top: 1em !important;
    margin-bottom: 0.9em !important
  }

  .ltag-github-body h3 {
    margin-top: 1em !important;
    margin-bottom: 0.9em !important;
    padding: 0;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.25
  }

  .ltag-github-body h4 {
    padding: 0
  }

  .ltag-github-body *:first-child {
    margin-top: 0 !important
  }

  .ltag-github-body *:last-child {
    margin-bottom: 0 !important
  }

  .ltag-github-body img {
    left: inherit
  }

  .ltag-github-body blockquote {
    color: #6a737d;
    padding: 0px 1em;
    border-left: 0.25em solid #dfe2e5;
    margin: 16px 0px
  }

  .ltag-github-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    background-color: var(--card-bg);
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5
  }

  .ltag-github-body p {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 15px
  }

  .ltag-github-body p a.github-user-link {
    color: var(--card-color-secondary);
    font-weight: 600;
    white-space: nowrap
  }

  .ltag-github-body p a.github-user-link:hover {
    color: #24292e;
    text-decoration: underline
  }

  .ltag-github-body code {
    border-radius: 3px;
    padding: 0.2em 5px 0px;
    margin: 0px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace
  }

  .ltag-github-body pre {
    width: 100% !important;
    margin: 0px;
    color: black;
    background-color: #f6f8fa;
    padding: 0
  }

  .ltag-github-body pre code {
    background-color: #f6f8fa;
    color: black;
    padding: 0em 0px 0px !important;
    line-height: 2em !important
  }

  .ltag-github-body .highlight pre,
  .ltag-github-body pre,
  .ltag-github-body pre code {
    padding: 16px !important;
    overflow: auto !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
    background-color: #f7f7f7 !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    color: black !important;
    border-radius: 3px !important;
    margin: 0.95em 0 1.2em !important
  }

  .ltag-github-body .highlight {
    font-size: 14px !important;
    margin-bottom: 16px !important;
    border-radius: 3px !important
  }

  .ltag-github-body b,
  .ltag-github-body strong {
    font-weight: 600
  }

  .ltag-github-body .pl-c {
    color: #969896
  }

  .ltag-github-body .pl-c1,
  .ltag-github-body .pl-s .pl-v {
    color: #0086b3
  }

  .ltag-github-body .pl-e,
  .ltag-github-body .pl-en {
    color: #795da3
  }

  .ltag-github-body .pl-s .pl-s1,
  .ltag-github-body .pl-smi {
    color: #333
  }

  .ltag-github-body .pl-ent {
    color: #63a35c
  }

  .ltag-github-body .pl-k {
    color: #a71d5d
  }

  .ltag-github-body .pl-pds,
  .ltag-github-body .pl-s,
  .ltag-github-body .pl-s .pl-pse .pl-s1,
  .ltag-github-body .pl-sr,
  .ltag-github-body .pl-sr .pl-cce,
  .ltag-github-body .pl-sr .pl-sra,
  .ltag-github-body .pl-sr .pl-sre {
    color: #183691
  }

  .ltag-github-body .pl-v {
    color: #ed6a43
  }

  .ltag-github-body .pl-id {
    color: #b52a1d
  }

  .ltag-github-body .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
  }

  .ltag-github-body .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold
  }

  .ltag-github-body .pl-ml {
    color: #693a17
  }

  .ltag-github-body .pl-mh,
  .ltag-github-body .pl-mh .pl-en,
  .ltag-github-body .pl-ms {
    color: #1d3e81;
    font-weight: bold
  }

  .ltag-github-body .pl-mq {
    color: #008080
  }

  .ltag-github-body .pl-mi {
    color: #333;
    font-style: italic
  }

  .ltag-github-body .pl-mb {
    color: #333;
    font-weight: bold
  }

  .ltag-github-body .pl-md {
    background-color: #ffecec;
    color: #bd2c00
  }

  .ltag-github-body .pl-mi1 {
    background-color: #eaffea;
    color: #55a532
  }

  .ltag-github-body .pl-mdr {
    color: #795da3;
    font-weight: bold
  }

  .ltag-github-body .pl-mo {
    color: #1d3e81
  }

  .crayons-btn--secondary,
  .ltag__wikipedia--container .ltag__wikipedia--btn,
  .gh-btn-container .gh-btn,
  .ltag__reddit--container .ltag__reddit--btn,
  .ltag__stackexchange--container .ltag__stackexchange--btn {
    --bg: var(--button-secondary-bg);
    --bg-hover: var(--button-secondary-bg-hover);
    --color: var(--button-secondary-color);
    --color-hover: var(--button-secondary-color-hover)
  }

  p>a {
    text-decoration: underline;
    color: var(--link-branded-color)
  }

  p>a:hover {
    color: var(--link-branded-color-hover);
  }

  p>[class*='ltag'] a {
    text-decoration: none
  }

  p>[class*='ltag'] a:hover {
    color: var(--color-hover)
  }

  p>a[class*='ltag'] {
    text-decoration: none
  }

  p>a[class*='ltag']:hover {
    color: var(--color-hover)
  }
}